body{
  /* background-color:#EDEF9E; */
  background-image: url('images/p1.png');
}

.main{
  height: 950px;
  width: 900px;
  font-family: Gill Sans Extrabold, sans-serif;
}

a:link,a:visited{
  color:#EE0B31;
  text-decoration: none;

}

/* a:hover{
  background-color: #FBF4F5 ;
} */


.header{
  height: 100px;
  width: 900px;
  background-color: #898888;
}

.logo{
  padding-top: 5px;
  height: 90px;
  width: 200px;
  float: left;
}

.social{
  padding-top: 40px;
  height: 90px;
  float: right;
  width: 350px;
}

.heading{
  padding-top: 10px;
  height: 90px;
  width: 300px;
  float: left;
}

.menu{
  height: 50px;
  width: 900px;

}

.content{
  height: 400px;
  width:900px;
  text-align:justify;
}

.content-head{
  height: 100px;
  width:900px;
  color:#D15684  ;
  font-size: 30pt;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}

.row{
  height:100px;
  width:900px;
}

.left{
  height: 90px;
  width: 380px;
  border: 1px outset #D3B5D9;
  float:left;
  overflow: scroll;
}

.right{
  height: 90px;
  width: 380px;
  border: 1px outset #D3B5D9;
  float:right;
  overflow: scroll;
}

.footer{
  height: 100px;
  width: 900px;
  background-color: #898888;
}
